<ion-view title="{{settings.name}}">
    <ion-content>
        <div ng-repeat="pack in settings.packs">
            <div class="card" ng-if="pack.type == 'kp'" ui-sref="app.kp({areaId:id, packId:UtilityService.getDataSetId(pack.name)})" ng-include="'templates/summary-pack.html'"></div>
            <div class="card" ng-if="pack.type == 'gp'" ui-sref="app.gp({areaId:id, packId:UtilityService.getDataSetId(pack.name)})" ng-include="'templates/summary-pack.html'"></div>
        </div>
    </ion-content>
</ion-view>
