<ion-view title="{{packSetting.name}}">
    <ion-content>
        <div class="row" ng-include="'templates/map.html'">
        </div>

        <div class="card" ng-hide="selectedSectorData !== undefined">
            <div class="item calm text-center">
                Tap on the map above to know about each state
            </div>
        </div>

        <div class="row" ng-hide="selectedSectorData === undefined">
            <div class="col col-33 padding-left">
                <div class="calm">STATE</div>
                <div class="calm regionLabel">{{selectedSectorData.Name.toUpperCase()}}</div>
                <div class="assertive padding-top">CAPITAL</div>
                <div class="assertive regionCapitalLabel">{{selectedSectorData.Capital.toUpperCase()}}</div>
            </div>
            <div class="col col-33 dark">
                <div>
                    <div>NICKNAMES</div>
                    <div ng-repeat="name in selectedSectorData.Nicknames" class="regionInfoLabel"><b>{{name}}</b>
                    </div>
                </div>
            </div>
            <div class="col col-33 dark">
                <div>
                    <div>STATEHOOD</div>
                    <div class="regionInfoLabel"><b>{{selectedSectorData.Statehood}}</b>
                    </div>
                    <div class="padding-top">MOTTO</div>
                    <div class="regionInfoLabel"><b>{{selectedSectorData.Motto}}</b>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
