<ion-view title="{{packSetting.name}}">
    <ion-content>
        <div class="row">
            <div class="col col-90" data-tap-disabled="true">
                <div maptype='usa' id="map" ng-if="areaId === 'usa'" style="width: 105%"></div>
            </div>
        </div>

        <div class="card" ng-hide="selectedRegionData !== undefined">
            <div class="item calm text-center">
                Tap on the map above to know about each state
            </div>
        </div>

        <div class="row" ng-hide="selectedRegionData === undefined">
            <div class="col col-33 padding-left">
                <div class="calm">STATE</div>
                <div class="calm regionLabel">{{selectedRegionData.Name.toUpperCase()}}</div>
                <div class="assertive padding-top">CAPITAL</div>
                <div class="assertive regionCapitalLabel">{{selectedRegionData.Capital.toUpperCase()}}</div>
            </div>
            <div class="col col-33 dark">
                <div>
                    <div>NICKNAMES</div>
                    <div ng-repeat="name in selectedRegionData.Nicknames" class="regionInfoLabel"><b>{{name}}</b>
                    </div>
                </div>
            </div>
            <div class="col col-33 dark">
                <div>
                    <div>STATEHOOD</div>
                    <div class="regionInfoLabel"><b>{{selectedRegionData.Statehood}}</b>
                    </div>
                    <div class="padding-top">MOTTO</div>
                    <div class="regionInfoLabel"><b>{{selectedRegionData.Motto}}</b>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
