<ion-view title="{{packSetting.name}}">
    <ion-content>
        <div ng-include="'templates/map.html'">
        </div>
        <div class="card sectorLabelCard">
            <div class="item calm text-center sectorLabelItem">
                <span class="padding" ng-show="isBegin()">Tap on the Start button to begin</span>
                <span ng-show="isInProgress()" class="sectorLabel">{{getCurrentSector().name}}</span>
                <span ng-show="isEnd()">You have completed this practice set. Tap on the Reset button to play again</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-33">
                <div class="row">
                    <div class="col">
                        <div class="calm sectorCountLeft">{{appStateData.sectorsLeft}}</div>
                        <div class="calm">STATES LEFT</div>
                    </div>
                    <div class="col">
                        <div class="calm sectorCountLeft">{{appStateData.score}}</div>
                        <div class="calm">SCORE</div>
                    </div>
                </div>
            </div>
            <div class="col col-33 text-center"></div>
            <div class="col col-33 text-right">
                <div class="row padding-top">
                    <div class="col col-33">
                        <div ng-show="hasNext()" class="col">
                            <button class="button button-outline button-dark" ng-click="next()">Next</button>
                        </div>
                        <div ng-show="isInProgress() && !hasNext()" class="col">
                            <button class="button button-outline button-dark" ng-click="skip()">Skip</button>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div ng-show="!isBegin()" class="col">
                            <button class="button button-outline button-dark" ng-click="reset()">Reset</button>
                        </div>
                        <div ng-show="isBegin()" class="col">
                            <button class="button button-outline button-dark" ng-click="start()">Start</button>
                        </div>
                    </div>
                    <div class="col col-33">
                        <div class="col">
                            <button class="button button-outline button-dark" ng-click="showStats()">Stats</button>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>