<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu class="stable-bg" side="left" width="80" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <div ui-sref="app.home">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.home')">
                        <span class="ion-home icon-3x"></span>
                    </ion-item>
                </div>
                <div ui-sref="app.area.home({areaId:'usa'})">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.area', 'usa')">
                        <span class="icon-america-icon icon-3x"></span>
                    </ion-item>
                </div>
                <div ui-sref="app.area.home({areaId:'canada'})">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.area', 'canada')">
                        <span class="icon-canada-icon icon-3x"></span>
                    </ion-item>
                </div>
                <div ui-sref="app.area.home({areaId:'africa'})">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.area', 'africa')">
                        <span class="icon-africa-icon icon-3x"></span>
                    </ion-item>
                </div>
                <div ui-sref="app.area.home({areaId:'europe'})">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.area', 'europe')">
                        <span class="icon-europe-icon icon-3x"></span>
                    </ion-item>
                </div>
                <div ui-sref="app.area.home({areaId:'south-america'})">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.area', 'south-america')">
                        <span class="icon-south-america-icon icon-3x"></span>
                    </ion-item>
                </div>
                <div ui-sref="app.area.home({areaId:'asia'})">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.area', 'asia')">
                        <span class="icon-Asia-icon icon-3x"></span> 
                    </ion-item>
                </div>
                <div ui-sref="app.settings">
                    <ion-item nav-clear ng-class="getMenuItemClass('app.settings')">
                        <span class="ion-gear-b icon-3x"></span> 
                    </ion-item>
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>