/* Fonts generated for icons */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?-84zf4o');
    src: url('../fonts/icomoon.eot?#iefix-84zf4o') format('embedded-opentype'), url('../fonts/icomoon.woff?-84zf4o') format('woff'), url('../fonts/icomoon.ttf?-84zf4o') format('truetype'), url('../fonts/icomoon.svg?-84zf4o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-africa-icon:before {
    content: "\e601";
}
.icon-america-icon:before {
    content: "\e602";
}
.icon-Asia-icon:before {
    content: "\e603";
}
.icon-canada-icon:before {
    content: "\e604";
}
.icon-europe-icon:before {
    content: "\e605";
}
.icon-south-america-icon:before {
    content: "\e606";
}
.icon-home:before {
    content: "\e607";
}
.icon-home2:before {
    content: "\e608";
}
.icon-book:before {
    content: "\e609";
}
.icon-books:before {
    content: "\e60a";
}
.icon-library:before {
    content: "\e60b";
}
.icon-profile:before {
    content: "\e60c";
}
.icon-paste:before {
    content: "\e60d";
}
.icon-cart:before {
    content: "\e60e";
}
.icon-coin:before {
    content: "\e60f";
}
.icon-credit:before {
    content: "\e610";
}
.icon-download:before {
    content: "\e611";
}
.icon-undo:before {
    content: "\e612";
}
.icon-redo:before {
    content: "\e613";
}
.icon-user:before {
    content: "\e614";
}
.icon-lock:before {
    content: "\e615";
}
.icon-cog:before {
    content: "\e616";
}
.icon-stats:before {
    content: "\e617";
}
.icon-bars:before {
    content: "\e618";
}
.icon-trophy:before {
    content: "\e619";
}
.icon-lab:before {
    content: "\e61a";
}
.icon-lightning:before {
    content: "\e61b";
}
.icon-flag:before {
    content: "\e61c";
}
.icon-bookmark:before {
    content: "\e61d";
}
.icon-bookmarks:before {
    content: "\e61e";
}
.icon-arrow-left:before {
    content: "\e61f";
}
.icon-arrow-left2:before {
    content: "\e620";
}
.icon-1x {
    font-size: 16px;
}
.icon-2x {
    font-size: 32px;
}
.icon-3x {
    font-size: 48px;
}
.icon-4x {
    font-size: 64px;
}
/* Other Styles*/

.summary.item {
    padding: 0px;
}
.menu-selected {
    background-color: #777;
    color: #fff;
}